.App {
  text-align: center;
  display: grid;
  margin: 2vw;
  align-items: center;
  justify-content: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}


.App-header {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.p {
  font-size: 20px;
  color: aliceblue;
}


.App-container {
  display: inline-flexbox;
  align-items: center;
}

.input {
  width: 15vw;
  height: 2vw;
}

.button2 {
  align-items: center;
  margin-left: 32%;
  border-radius: 4px;
  height: 2vw;
  background-color: #948c89;
  color: #FFFFFF;
  text-align: center;
  /* margin-top: 2vw; */
  font-size: 15px;
  width: 10vw;
  cursor: pointer;
}

.button {
  border-radius: 4px;
  background-color: #948c89;
  color: #FFFFFF;
  text-align: center;
  margin-top: 2vw;
  font-size: 20px;
  width: 10vw;
  padding: 1vw;
  transition: all 0.5s;
  cursor: pointer;
}




.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.App--card {
  margin: 2vw;
  padding:2vw;
  width: 20vw;
  height: 22vw;
  font-size: 12px;
  border-radius: 5px;
  background-color: rgb(32, 31, 31);
  color: rgb(250, 248, 248);
  box-shadow: 0px 0px 8px #818388;
}
